# GitHub Graph
NEXT_PUBLIC_GITHUB_USERNAME="your-github-username"
NEXT_PUBLIC_GITHUB_JOIN_YEAR="year-you-joined-github"

# Resend Email Configuration (Server-side only)
RESEND_API_KEY=
CONTACT_EMAIL=

# Next.js Build Workaround
NEXT_IGNORE_INCORRECT_LOCKFILE=true